.main{
    font-size: larger;
}

.blog_title{

    height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size:cover;
    display: flex;

    align-items: center;
    background-color: white;
    
    
}

.left_img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-right: white solid;
    border-top: white solid;
}

.right_img{
    width:50%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    border-left: white solid;

}

.right_upper_img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-right: white solid;
    
}

.right_down_img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: flex;
    border-top: white solid;
}

.right_down_left_img{
    width: 50%;
    height: 100%;
    object-fit: cover;

}


.right_down_right_img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-left: white solid;
}


.title{
    text-align: center ;
    padding: 2%;
    font-size: 20px;
}


.sec1{
    padding: 5%;
    background-color: white;
    margin: 5%;
    margin-top: 0%;
 
}
.sec1_data{
    display: flex;
  
}

.sec1_photo{
    object-fit: fill;
    width: 20%;
    height: 20%;
    padding-left: 1%;
}

.sec1_text{
    margin-right: 3%;
}