
.blog_title{

    height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size:cover;
    display: flex;

    align-items: center;
    
    
}

.title{
    text-align: center ;
    padding: 50px;
    font-size: 20px;
}

.left_img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-right: white solid;
    border-top: white solid;
}

.right_img{
    width:50%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    border-left: white solid;

}

.right_upper_img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-right: white solid;
    
}

.right_down_img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: flex;
    border-top: white solid;
}

.right_down_left_img{
    width: 50%;
    height: 100%;
    object-fit: cover;

}


.right_down_right_img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-left: white solid;
}

